.App {
  font-family: sans-serif;
  text-align: center;
}

.container {
  height: 100vh;
  /* width: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
}

span {
  font-size: 30px;
  cursor: pointer;
}

.gold {
  color: gold;
}
